@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  src: url("../font/blinker-400.woff2") format("woff2"), url("../font/blinker-400.woff") format("woff");
}

@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 700;
  src: url("../font/blinker-700.woff2") format("woff2"), url("../font/blinker-700.woff") format("woff");
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../font/anonymous-pro-400.woff2") format("woff2"), url("../font/anonymous-pro-400.woff") format("woff");
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../font/anonymous-pro-700.woff2") format("woff2"), url("../font/anonymous-pro-700.woff") format("woff");
}

@font-face {
  font-family: 'ForkAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("../font/forkawesome.woff2") format("woff2"), url("../font/forkawesome.woff") format("woff");
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #f0f0f0;
  font-family: "Blinker", sans-serif;
  font-size: 15px;
  margin: 0px;
}

body.center {
  display: grid;
  place-items: center center;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 17px;
  }
}

@media (min-width: 577px) {
  body.center {
    height: 100vh;
    overflow: hidden;
  }
}

body:not(.center) > div.container {
  margin: 0px auto;
  max-width: 1200px;
}

@media (min-width: 1201px) {
  body:not(.center) > div.container {
    padding: 8px 0px;
  }
}

body.center > div.container {
  padding: 0px 8px;
}

::selection {
  background-color: rgba(160, 64, 255, 0.5);
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: #a040ff;
  content: '\2605';
  padding-right: 0.2em;
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  color: #a040ff;
  content: '\2605';
  padding-left: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

a {
  color: #a040ff;
  text-decoration: none;
}

a:hover {
  color: #b973ff;
  text-decoration: underline;
}

a:visited {
  color: #870dff;
}

pre, code, kbd, samp, textarea {
  font-family: "Anonymous Pro";
}

textarea {
  font-size: unset;
  font-weight: unset;
}

mark {
  background-color: #c080ff;
}

hr {
  border: 0px;
  border-top: 1px solid #3a3a3a;
}

table {
  border: 1px solid #3a3a3a;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  max-width: 100%;
  margin: 8px 0px;
  text-align: left;
  table-layout: fixed;
}

@media (max-width: 576px) {
  table {
    margin: 0px;
  }
}

table th, table td {
  border: 1px solid #3a3a3a;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table:not(.striped) th, table.striped > tbody > tr:nth-of-type(2n + 1) {
  background-color: #2d2d2d;
}

input, button, select {
  font-family: unset;
  font-size: unset;
  font-weight: unset;
}

span.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

a.button {
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  cursor: default;
  user-select: none;
}

a.button:hover, a.button:visited {
  color: unset;
  text-decoration: unset;
}

a.button,
input[type=button],
input[type=submit],
input[type=reset],
input[type=color],
button {
  background: linear-gradient(to bottom, #b973ff, #a040ff, #870dff);
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border: 1px solid #6000c0;
  border-radius: 4px;
}

a.button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=color]:hover,
button:hover {
  background: linear-gradient(to bottom, #d3a6ff, #b973ff, #a040ff);
}

a.button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=color]:active,
button:active {
  background: linear-gradient(to bottom, #870dff, #a040ff, #b973ff);
}

a.button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=color]:disabled,
button:disabled {
  background: linear-gradient(to bottom, #b9b9b9, #a0a0a0, #868686);
  border-color: #606060;
}

a.button:disabled.pressed,
input[type=button]:disabled.pressed,
input[type=submit]:disabled.pressed,
input[type=reset]:disabled.pressed,
input[type=color]:disabled.pressed,
button:disabled.pressed {
  background: linear-gradient(to bottom, #6d00d9, #870dff, #a040ff);
  border-color: #6000c0;
}

a.button:focus,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=color]:focus,
button:focus {
  outline: 1px dotted white;
  outline-offset: -5px;
}

span.buttons > a.button:not(:first-child), span.buttons > input[type=button]:not(:first-child), span.buttons > input[type=submit]:not(:first-child), span.buttons > input[type=reset]:not(:first-child), span.buttons > input[type=color]:not(:first-child), span.buttons > button:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

span.buttons > a.button:not(:last-child), span.buttons > input[type=button]:not(:last-child), span.buttons > input[type=submit]:not(:last-child), span.buttons > input[type=reset]:not(:last-child), span.buttons > input[type=color]:not(:last-child), span.buttons > button:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -1px;
}

input[type=color] {
  height: 2em;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=search],
input[type=number],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
textarea,
select {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px black solid;
  border-radius: 2px;
  padding: 4px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
textarea:focus,
select:focus {
  outline: 1px #a040ff solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

input[type=number] {
  -moz-appearance: textfield;
}

fieldset {
  border: 1px solid #3a3a3a;
}

fieldset > legend {
  color: #b0b0b0;
  padding: 0px 4px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hidden {
  display: none !important;
}

@media (max-width: 576px) {
  .hidden-phone {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .hidden-laptop {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .hidden-desktop {
    display: none !important;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.wide {
  width: 100%;
}

.spaced {
  margin: 8px;
}

.spaced-small {
  margin: 4px;
}

.spaced-large {
  margin: 16px;
}

.spaced-left {
  margin-left: 8px;
}

.spaced-left-small {
  margin-left: 4px;
}

.spaced-left-large {
  margin-left: 16px;
}

.spaced-top {
  margin-top: 8px;
}

.spaced-top-small {
  margin-top: 4px;
}

.spaced-top-large {
  margin-top: 16px;
}

.spaced-right {
  margin-right: 8px;
}

.spaced-right-small {
  margin-right: 4px;
}

.spaced-right-large {
  margin-right: 16px;
}

.spaced-bottom {
  margin-bottom: 8px;
}

.spaced-bottom-small {
  margin-bottom: 4px;
}

.spaced-bottom-large {
  margin-bottom: 16px;
}

.muted {
  color: #888888;
}

.ghost {
  opacity: 0.5;
}

.uwu {
  text-transform: lowercase;
}

canvas.intro {
  background-color: black;
  filter: blur(1px);
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body.center > div.container.intro {
  background-color: rgba(32, 32, 32, 0.75);
  padding: 0px 16px 16px;
  border-radius: 8px;
}
