a.button.minimal, button.minimal {
	background: rgba(255, 255, 255, 0.1);
	color: change-color($color-foreground, $alpha: 0.4);
	cursor: pointer;

	padding: unset;
	border: unset;
	border-radius: 2px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
		color: change-color($color-foreground, $alpha: 0.5);
	}

	&:active {
		background-color: rgba(255, 255, 255, 0.4);
		color: $color-foreground;
	}

	&:focus {
		outline: unset;
		outline-offset: unset;

		background-color: change-color($color-primary, $alpha: 0.2);
	}
}
