dialog {
	&::backdrop {
		background: rgba(0, 0, 0, 0.5);
	}

	user-select: none;

	border: 1px solid black;
	background-color: $color-background;
	color: white;
	padding: $spacing-large;

	h1,h2,h3,h4,h5,h6 {
		margin-top: 0px;
		margin-bottom: $spacing-large;
		text-align: center;
	}
}
