canvas.intro {
	background-color: black;
	filter: blur(1px);
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

body.center > div.container.intro {
	background-color: change-color($color-background, $alpha: 0.75);
	padding: 0px $spacing-large $spacing-large;
	border-radius: $radius-large;
}
