div.map {
	width: 100%;
	height: calc(100vh - #{($spacing-normal * 5) + ($spacing-small * 2) + ($hairline * 4) + 19px});
	border: $hairline solid $color-border;
	background-color: #aad3df;

	@media(max-width: $width-desktop) {
		height: calc(100vh - #{($spacing-normal * 3) + ($spacing-small * 2) + ($hairline * 3) + 19px});
		border-width: $hairline 0px 0px;
	}

	@media(max-width: $width-laptop) {
	}

	@media(max-width: $width-tablet) {
		height: calc(100vh - #{($spacing-normal * 3) + ($spacing-small * 2) + ($hairline * 3) + 20px});
	}

	@media(max-width: $width-phone) {
		height: calc(100vh - #{($spacing-normal * 2) + ($spacing-small * 2) + ($hairline * 3) + 22px});
		border-width: 0px;
	}

	button {
		background: white;
		text-shadow: unset;
	}

	div.overlay {
		background-color: $color-info-generic;
		color: $color-info-text;
		padding: $spacing-normal;
		border-radius: $radius-normal;
		max-height: 14em;
		display: flex;

		> div {
			overflow: auto;

			> ul {
				margin: 0px;
				padding-left: 2ch;
			}
		}
	}
}
