ol.path {
	display: inline-block;
	list-style-type: none;
	padding: 0px;

	> li { display: inline; }
	> li:not(:last-child)::after {
		color: mix($color-background, $color-foreground, 33%);
		font-family: $font-icon;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		content: '\f105';
		margin: 0px $spacing-small;
	}

	> li span.separator { font-size: 0; }
}

nav.path {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: $radius-normal;
	padding: $spacing-normal;
	display: flex;
	justify-content: flex-end;

	@media(max-width: $width-desktop) {
		border-radius: 0px;
	}

	> *:not(:first-child) {
		margin-left: $spacing-normal;
	}

	> ol.path {
		margin: 0px auto 0px 0px;
	}

	> a.button.minimal, > button.minimal {
		&:not(:hover):not(:active):not(:focus) { background-color: unset; }
	}
}
