<%
from bottle import request
from blackstar.browser.template import format_title

center = True
script = ['intro']
rebase('base')
%>
<h1>{{ format_title(None) }}</h1>
<p class="uwu">Login required</p>
<form class="inline-block right" method="post" action="{{ request.app.get_url('login', pure=True) }}">
<input class="" type="text" name="username" placeholder="username" required autofocus><br>
<input class="spaced-top" type="password" name="password" placeholder="password" required><br>
<div class="spaced-top inline-block">
<label class="uwu"><input type="checkbox" name="remember" value="1"> Remember</label>
<input class="spaced-left uwu" type="submit" value="Login">
</div>
</form>
