$width-phone: 576px;
$width-tablet: 768px;
$width-laptop: 992px;
$width-desktop: 1200px;

$spacing-small: 4px;
$spacing-normal: 8px;
$spacing-large: 16px;

$radius-small: 2px;
$radius-normal: 4px;
$radius-large: 8px;

$hairline: 1px;
